<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Portafolio de Sebastian Oscar Lescano</title>
    <link rel="stylesheet" href="../static/css/normalize.css">
		<link rel="stylesheet" href="../static/css/estilos.css">

	</head>
	<body>
		<header id="yo" class="Header">
			<nav class="MainMenu">
				<ul class="MainMenu-list">
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#yo">Yo</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#perfil">Perfil</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#trabajo">Trabajo</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#contacto">Contacto</a>
					</li>
				</ul>	
			</nav>
			<figure class="Header-imageContainer">
				<img src="avatar.jpg" alt="Imagen personal" class="Header-image">
				<figcaption>
					<a href="http://twitter.com/sebalesca/" target="_blanck">@sebalesca</a>
				</figcaption class="Header-imageDescripction">
				<p class="Header-name">Sebastian Oscar Lescano</p>
			</figure>
		</header>
    <!--Fin header -->
		<section id="perfil" class="Profile">
			<h2 class="Profile-title">Mi perfil</h2>
			<p class="Profile-description">Hola si llegaste hasta aca pudes ver mi Portafolio y contactarme</p>
			<a class="Profile-link" href="http://twitter.com/sebalesca/" target"_blanck">@sebalesca</a>
			<a class="Profile-link" href="http://facebook.com/sebalesca/" target"_blanck">sebalesca</a>
			<a class="Profile-link" href="http://github.com/sebalesca/" target"_blanck">sebalesca</a>
		</section>
		<section id="trabajo" class="Work">
			<h2 class="Work-title">Trabajo</h2>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Workimage" src="mejorandola.jpg" alt="es la descripcion de la imagen">
					<figcaption class="Work-desciption">Website de mejorando.la</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Workimage" src="mejorandola.jpg" alt="es la descripcion de la imagen">
					<figcaption class="Work-desciption">Website de mejorando.la</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Workimage" src="mejorandola.jpg" alt="es la descripcion de la imagen">
					<figcaption class="Work-desciption">Website de mejorando.la</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Workimage" src="mejorandola.jpg" alt="es la descripcion de la imagen">
					<figcaption class="Work-desciption">Website de mejorando.la</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Workimage" src="mejorandola.jpg" alt="es la descripcion de la imagen">
					<figcaption class="Work-desciption">Website de mejorando.la</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Workimage" src="mejorandola.jpg" alt="es la descripcion de la imagen">
					<figcaption class="Work-desciption">Website de mejorando.la</figcaption>
				</figure>
			</article>
		</section>
		
		<footer id="contacto" class="Footer">
			<h3 ="Footer-title">Contacto</h3>
			<p ="Footer-description">Tienes una sugerencia o quieres trabajar conmigo ponte en contacto con este formulario</p>
			<form ="Footer-form">
				<input ="Footer-formInput" type="text" placeholder="Nombre">
				<input ="Footer-formInput" type="email" placeholder="Email">
				<textarea ="Footer-textarea" placeholder="Motivo"></textarea>
				<button ="Footer-formButton" type="submit">Contactarme</button>
			</form>
		</footer>
	</body>
</html>